body{
  background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 12%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

img {
  position: absolute;
  right: 5%;
  top: 10%;
  height: 265px;
  width: 265px;
  border: 2px black solid;
}

.header {
  border: 2px black solid;
  display: inline-block;
  background-color: aliceblue;
  padding: 10px;
  font-size: 60px;
}

p {
  max-height: 200px;
  max-width: 600px;
  border: 2px #020024 solid;
  background-color: aliceblue;
  font-size: 35px;
  font-weight: bold;
}
.menu-bar {
  background: #020024;
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.item {
  color: white;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.item.title {
  font-weight: 600;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none;
  position: relative;
  z-index: 1;
}

a::before {
  content: "";
  background-color: lightslategray;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 12px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

a:hover::before {
  bottom: 0;
  height: 100%;
  z-index: -1;
}