.menu-bar {
  background-color: #1988f7;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.item {
  color: white;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.item.title {
  font-weight: 600;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none;
  position: relative;
  z-index: 1;
}

a::before {
  content: "";
  background-color: navy;
  position: absolute;
  left: 0;
  bottom: 9px;
  width: 100%;
  height: 12px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

a:hover::before {
  bottom: 0;
  height: 100%;
  z-index: -1;
}