body {
  background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.header {
  border: 2px black solid;
  display: inline-block;
  background-color: aliceblue;
  padding: 10px;
  font-size: 60px;
}

p {
  max-height: 200px;
  max-width: 600px;
  border: 2px #020024 solid;
  background-color: aliceblue;
  font-size: 35px;
  font-weight: bold;
}

.menu-bar {
  background: #020024;
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.item {
  color: white;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.item {
  font-weight: 600;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.item {
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.item::before {
  content: "";
  background-color: lightslategray;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 12px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.item:hover::before {
  bottom: 0;
  height: 100%;
  z-index: -1;
}
.work {
  text-decoration: none;
  position: relative;
  font-size: 45px;
  color: black;
}

.work::before,
.work::after {
  content: "";
  position: absolute;
  display: block;
  border: 0 solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

.work::after {
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.work::before {
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.work:hover::before,
.work:hover::after {
  width: 15px;
  height: 15px;
  border-color: #001;
}
